parameters:
		# Rules
		treatPhpDocTypesAsCertain: false
		inferPrivatePropertyTypeFromConstructor: true
		checkExplicitMixedMissingReturn: true
		checkFunctionNameCase: true
		checkInternalClassCaseSensitivity: true
		checkTooWideReturnTypesInProtectedAndPublicMethods: true
		polluteScopeWithAlwaysIterableForeach: false
		polluteScopeWithLoopInitialAssignments: false
		reportAlwaysTrueInLastCondition: true
		reportStaticMethodSignatures: true
		reportWrongPhpDocTypeInVarTag: true

		# Configuration
		level: 8
		phpVersion:
			min: 80100
			max: 80400
		bootstrapFiles:
				- universal-openai-connector.php

		paths:
				- universal-openai-connector.php
				- src/
		scanDirectories:
				- vendor/wordpress/php-ai-client/src/
		excludePaths:
			analyse:
				- tests/
				- vendor/
			analyseAndScan:
				- node_modules (?)
		ignoreErrors:
			-
				message: '#Path in require\(\) .*settings\.asset\.php.* is not a file or it does not exist\.#'
				path: src/Settings/OpenAiCompatibleSettings.php
				reportUnmatched: false

